Checks: >
    -*,
    bugprone*,
    clang-analyzer*,
    cert*,
    cppcore*,
    -cppcoreguidelines-avoid-magic-numbers,
    google*,
    -google-readability-todo,
    misc*,
    modernize*,
    performance*,
    portability*,
    readability*,
    -readability-identifier-length,
    -readability-magic-numbers,
CheckOptions:
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: true
